body {
  background: rgb(255, 107, 82);
}
p {
  color: black;
  text-transform: inherit;
  font-variant: small-caps;
  text-align: left
}
h1 {
  font-weight: bold;
  font-family: inherit;
  text-align: left
}
b  {
  font-family: serif;
}
