body {
  background-image: url("cobble_stone.png");
  text-align: left;
}
p {
  color: rgb(52,84,185);
  text-align: justify;
  font-size: 11px:
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
}

hr {
  height: 1px;
  background-color: #227d89;
}
/* This is a random style, but I think it looks pretty good. */

