body {
  background-color: aliceblue;
  text-align: left;
}
p {
  color: rgb(52,84,185);
  text-align: justify
}
h1 {
  font-weight: bold;
  text-align: center
}

hr {
  height: 1px;
  background-color: #227d89;
}
